<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lizzy.gamelab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Menu"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Minesweeper_menu"
            android:label="@string/title_activity_minesweeper"
            android:parentActivityName=".Menu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lizzy.gamelab.Menu" />
        </activity>
        <activity
            android:name=".Minesweeper_game"
            android:label="@string/title_activity_minesweeper_game"
            android:parentActivityName=".Minesweeper_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lizzy.gamelab.Minesweeper_menu" />
        </activity>
        <activity
            android:name=".AboutPage"
            android:label="@string/title_activity_about_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Scoreboard"
            android:label="@string/title_activity_scoreboard"
            android:parentActivityName=".Menu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lizzy.gamelab.Menu" />
        </activity>
        <activity
            android:name=".TicTacToe_game"
            android:label="@string/title_activity_tic_tac_toe_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicTacToe_model"
            android:label="@string/title_activity_tic_tac_toe_model"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Boggle_Game"
            android:label="@string/title_activity_boggle__game"
            android:parentActivityName=".Menu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lizzy.gamelab.Menu" />
        </activity>
    </application>

</manifest>